@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject UserManager<ApplicationUser> UserManager
@{
    ApplicationUser user = null;

    if (User.Identity.IsAuthenticated)
    {
        user = await UserManager.GetUserAsync(User);
    }
}
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Luxury Home</title>
    <meta name="description" content="your beautiful property is here">
    <meta name="author" content="HAKY">
    <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>


    <!-- Place favicon.ico in the wwwroot directory -->
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="~/assets/css/normalize.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/fontello.css" asp-append-version="true">
    <link href="~/assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" asp-append-version="true">
    <link href="~/assets/fonts/icon-7-stroke/css/helper.css" rel="stylesheet" asp-append-version="true">
    <link href="~/assets/css/animate.css" rel="stylesheet" media="screen" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/bootstrap-select.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/icheck.min_all.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/price-range.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/owl.theme.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/owl.transitions.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/lightslider.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/responsive.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/wizard.css" asp-append-version="true">

</head>
<body>

    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- Body content -->


    <div class="header-connect">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-8  col-xs-12">
                    <div class="header-half header-call" style="width: 150%";>
                        <p>
                            @if (User.Identity.IsAuthenticated)
                            {
                                    <span><i class="pe-7s-call"></i> @user.PhoneNumber</span>
                                    <span><i class="pe-7s-mail"></i> @user.Email </span>
                                    <span><i class="pe-7s-user"></i> @user.Name </span>
                            }
                        </p>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-5  col-sm-3 col-sm-offset-1  col-xs-12">
                    <div class="header-half header-social">
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-vine"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End top header -->

    <nav class="navbar navbar-default ">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/assets/img/16923486.png" style="width: 178px;height: 60px;" alt="Real Estate Logo">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse yamm" id="navigation">
                <div class="button navbar-right d-flex align-items-center justify-content-end" style="display: inline-flex";>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <!-- Logout form using POST method -->
                        <form asp-controller="Accounts" asp-action="Logout" method="post" class="d-inline-block me-2">
                            <button type="submit" class="navbar-btn nav-button wow bounceInRight login" data-wow-delay="0.4s">Logout</button>
                        </form>
                        @if (user.IsManager)
                        {
                            <form asp-controller="AddProperity" asp-action="Index" method="get" class="d-inline-block me-2">
                                <button class="navbar-btn nav-button wow fadeInRight" data-wow-delay="0.5s">Add Property</button>
                            </form>

                            <a href="@Url.Action("Index", "InboxManager")" class="d-inline-block ms-2" title="Inbox Manager">
                                <i class="fa fa-inbox fa-2x" aria-hidden="true" style="margin:15px; color:black"></i> 
                            </a>

                        }
                        else
                        {
                            <form asp-controller="Payment" asp-action="MyBills" method="get" class="d-inline-block me-2">
                                <button class="navbar-btn nav-button wow fadeInRight" data-wow-delay="0.5s">Your bills</button>
                            </form>

                            <a href="@Url.Action("Index", "InboxTenant")" class="d-inline-block ms-2" title="Inbox Manager">
                                <i class="fa fa-reply fa-2x" aria-hidden="true" style="margin:15px; color:black"></i> 
                            </a>
                        }
                    }
                    else
                    {
                        <form asp-controller="Accounts" asp-action="Login" method="get" class="d-inline-block me-2">
                            <button type="submit" class="navbar-btn nav-button wow bounceInRight login" data-wow-delay="0.4s">Login</button>
                        </form>

                        <form asp-controller="Accounts" asp-action="Register" method="get" class="d-inline-block me-2">
                            <button type="submit" class="navbar-btn nav-button wow bounceInRight login" data-wow-delay="0.4s">Register</button>
                        </form>
                    }

                    <!-- Other link -->
                </div>
                <ul class="main-nav nav navbar-nav navbar-right">
                    <li class="dropdown ymm-sw " data-wow-delay="0.1s">
                        <a asp-controller="Home" asp-action="Index" > Home </a>
                    </li>
                    <li class="wow fadeInDown" data-wow-delay="0.1s"><a class="" href="/properties">Properties</a></li>

                    @if(User.Identity.IsAuthenticated)
                    {
                        if(user.IsManager)
                        {
                            <li class="dropdown ymm-sw " data-wow-delay="0.1s">
                                <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Manage<b class="caret"></b></a>
                                <ul class="dropdown-menu navbar-nav">
                                    <li>
                                        <a href="@Url.Action("Index", "MyProperity")" class="btn btn-default" style="background-color: white; color: #f0ad4e; border-color: #f0ad4e;">
                                            Manage Properties
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index" , "ReportIssue")">Reported issues</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="dropdown ymm-sw " data-wow-delay="0.1s">
                                <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Manage<b class="caret"></b></a>
                                <ul class="dropdown-menu navbar-nav">
                                    <li>
                                        <a href="@Url.Action("Index", "MyProperity")" class="btn btn-default" style="background-color: white; color: #f0ad4e; border-color: #f0ad4e;">
                                            Rented Properities
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a href="#">Your Profile</a>
                                    </li>
                                </ul>
                            </li>
                        }
                    }
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!-- End of nav bar -->
    <!-- End page header -->


    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


<!-- Footer area-->
<div class="footer-area" style="margin-top:20px">

    <div class=" footer">
        <div class="container">
            <div class="row">

                <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer">
                        <h4>Quick links </h4>
                        <div class="footer-title-line"></div>
                        <ul class="footer-menu">
                            <li>
                                <a href="/properties">Properties</a>
                            </li>
                            <li>
                                <a href="#">Services</a>
                            </li>
                            <li>
                                <a href="submit-property.html">Submit property </a>
                            </li>
                            <li>
                                <a href="contact.html">Contact us</a>
                            </li>
                            <li>
                                <a href="faq.html">fqa</a>
                            </li>
                            <li>
                                <a href="faq.html">Terms </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer news-letter">
                        <h4>Contact Us</h4>
                        <div class="footer-title-line"></div>

                        <form>
                            <div class="input-group">
                                <input  class="form-control" type="text" placeholder="E-mail ... ">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary subscribe" type="button">
                                        <i class="pe-7s-paper-plane pe-2x"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="input-group">
                                <textarea class="form-control" type="text" placeholder="Message ... "></textarea>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary subscribe" type="button">
                                        <i class="pe-7s-paper-plane pe-2x"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </form>


                        <div class="social pull-right">
                            <ul>
                                <li>
                                    <a class="wow fadeInUp animated" href="https://twitter.com/kimarotec">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInUp animated" href="https://www.facebook.com/kimarotec" data-wow-delay="0.2s">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInUp animated" href="https://plus.google.com/kimarotec" data-wow-delay="0.3s">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInUp animated" href="https://instagram.com/kimarotec" data-wow-delay="0.4s">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="wow fadeInUp animated" href="https://instagram.com/kimarotec" data-wow-delay="0.6s">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 wow fadeInRight animated">

                </div>

            </div>
        </div>
    </div>

    <div class="footer-copy text-center">
        <div class="container">
            <div class="row">
                <div class="pull-left">
                    <span> (C) <a href="https://codeforces.com">Depi Team</a> , All rights reserved 2025 </span>
                </div>
                <div class="bottom-menu pull-right">
                    <ul>
                        <li>
                            <a class="wow fadeInUp animated" href="#" data-wow-delay="0.2s">Home</a>
                        </li>
                        <li>
                            <a class="wow fadeInUp animated" href="#" data-wow-delay="0.3s">Property</a>
                        </li>
                        <li>
                            <a class="wow fadeInUp animated" href="#" data-wow-delay="0.4s">Faq</a>
                        </li>
                        <li>
                            <a class="wow fadeInUp animated" href="#" data-wow-delay="0.6s">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>


<script src="~/assets/js/vendor/modernizr-2.6.2.min.js"></script>
<script src="~/assets/js//jquery-1.10.2.min.js"></script>
<script src="~/bootstrap/js/bootstrap.min.js"></script>
<script src="~/assets/js/bootstrap-select.min.js"></script>
<script src="~/assets/js/bootstrap-hover-dropdown.js"></script>
<script src="~/assets/js/easypiechart.min.js"></script>
<script src="~/assets/js/jquery.easypiechart.min.js"></script>
<script src="~/assets/js/owl.carousel.min.js"></script>
<script src="~/assets/js/wow.js"></script>
<script src="~/assets/js/icheck.min.js"></script>
<script src="~/assets/js/price-range.js"></script>
<script src="~/assets/js/jquery.bootstrap.wizard.js" type="text/javascript"></script>
<script src="~/assets/js/jquery.validate.min.js"></script>
<script src="~/assets/js/wizard.js"></script>
<script type="text/javascript" src="~/assets/js/lightslider.min.js"></script>
<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/assets/js/main.js"></script>
<script src="~/assets/js/htmx.min.js"></script>
</body>
</html>