@model IEnumerable<RealStats.Models.Properity>

@{
    ViewData["Title"] = "Properties";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mt-4 mb-4">Properties</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mb-3">
            <a asp-action="Create" class="btn btn-primary">Add New Property</a>
        </div>
    </div>

    <div class="row">
        @foreach (var property in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="@(property.Images.FirstOrDefault()?.ImageUrl ?? "/images/default-property.jpg")" class="card-img-top" alt="@property.Name">
                    <div class="card-body">
                        <h5 class="card-title">@property.Name</h5>
                        <p class="card-text">@property.Description.Substring(0, Math.Min(property.Description.Length, 100))...</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Price:</strong> $@property.Price</li>
                        <li class="list-group-item"><strong>Address:</strong> @property.Street, @property.City, @property.Country</li>
                    </ul>
                    <div class="card-footer">
                        <a asp-action="Details" asp-route-id="@property.Id" class="btn btn-info">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
